.home-container {
  position: relative; /* Set position relative to contain the pseudo-element */
  background-image: url('../assets/images/sensor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1; /* Ensure overlay is above the background image but below the text */
}

.home-container > * {
  position: relative;
  z-index: 2; /* Ensure text is above the overlay */
}

h1 {
  margin: 0 0 20px; /* Space below the heading */
  font-size: 2.5rem; /* Adjust font size as needed */
}

p {
  margin: 0; /* Remove default margin */
  font-size: 1.25rem; /* Adjust font size as needed */
}